@font-face{

}
@font-face{
    font-family: "poppinsBold";
    src: url(./font/Poppins-Bold.ttf);
}

@font-face{
    font-family: "poppinsRegular";
    src: url(./font/Poppins-Regular.ttf);
}
@font-face{
    font-family: "poppinsBold";
    src: url(./font/Poppins-Bold.ttf);
}
@font-face{
    font-family: "poppinsRegular";
    src: url(./font/Poppins-Regular.ttf);
}
 @font-face{
    font-family: "poppinsBold";
    src: url(./font/Poppins-Bold.ttf);
}
@font-face{
    font-family: "poppinsRegular";
    src: url(./font/Poppins-Regular.ttf);
}



body{
    margin: 0px;
}
.body{
    margin: 35px;
}
.neche{
    display: grid;
    grid-template-columns: 150px 150px auto 150px;
}

.neche0{
    display: grid;
    grid-template-columns: auto auto;
    display: none;
}
.neche img{
    width: 50%;
    cursor: pointer;
   
}

.neche0 img{
    width: 50%;
    cursor: pointer;
   
}


.neche3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    margin-left: -30px;

}
.loc{
    color: rgba(255, 0, 0, 0.829);
    margin-right: 20px;

}

.neche00{
    display: none;
}
.neche4 span b{
    color: red;
    font-size: 17px;
}

.neche4{
    text-align: center;
    margin-top: 10px;
}

.neche4 a{
    color: #374151;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}
.neche4 span{
    border-radius:50px ;
    border: 1px solid red;
    padding: 15px;
}
.neche4 a:hover{
    color: red;
    background-color: #c3cbd9;
    border-radius: 5px;


}
.neche4 .home{
    color: red;
 
}

.heart{
    color: red;
}

.icon{
    color: red;
    margin-left: 120px;
    margin-top: 30px;
}


@media(max-width:768px){
    .neche0{
        display: block;
        display: grid;
    grid-template-columns: auto auto;
    }
    .neche00{
        display: block;
        display: grid;
    grid-template-columns: auto 110px 110px;
    }
    .neche{
        display: none;
    }
    .neche3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
     margin-top: 25px;
     margin-left: 30px;
     color: #f61417;
   
}
.neche3 b{
    margin-left: -20px;
   
}

}
.weclome{
    display: grid;
    grid-template-columns: auto auto;
     margin-left: 10px;
}

 
 .wec h4{
    color: red;
    margin-top: 150px;
    font-family: poppinsRegular;
 }
 .wec b{
    color: red;
    font-size: 70px;
    margin-top: 30px;
    font-family: "poppinsBold";
    line-height: 2cm;
 }
 .how{
     color: red;
     font-size: 20px;
     font-family: poppinsBold;
 }
 .pick{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 23px;
   
 }
 .car{
    padding: 40px;
    background-color: red;
    color: black;
    border-radius: 20px;
    width: 50%;
    height: 50px;
    margin-top: -20px;
    margin-right: 40px;
 }
 .car p{
    color: white;
    font-size: 20px;
    font-family: poppinsRegular;
    margin-top: 10px;

 }
 .pickup{
   font-size: 40px;
   color: white;
   margin-right: 20px;
 }
 .bag{
     padding: 40px;
    background-color: red;
    color: black;
    border-radius: 20px;
    width: 10%;
    height: 50px;
    margin-top: -20px;
    margin-right: 900px;
 }
 .shopbag{
     font-size: 40px;
   color: white;
   margin-left: 20%;
 }
 .bag p{
       color: white;
    font-size: 20px;
    font-family: poppinsRegular;
    margin-top: 10px;
 }
 .box5 img{
    width: 1000%;
    margin-left:-600px;
    margin-top: 30px;
    font-weight: 400px ;
    font-size: 600px;
    height: 400px;

 }
 .foodie h3{
    
    text-align: center;
    font-size: 30px;
    color: red;
    margin-left: 50px;
    margin-top: 120px;
    font-family: poppinsBold;
 }
 .line{
    width: 10%;
    border-radius: 20px;
    border-bottom: 10px solid red;
    margin-left: 660px;
    margin-top: 30px;
    font-size: 300px;
 }
 .food{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
   
 }

 .food{

    background-color: white;
    width: 80%;
    height: 200px;
    margin-top: 70px;
    margin-left: 90px;

 }
.rice{
    background-image: url(./rice.jpg);

    width: 90%;
    background-size: cover;
    height: 190px;
    border-bottom: 30px;
    margin-left: 90px;
    border-radius: 10px;
}
.rice p{
     color: white;
    font-size: 30px;
    font-family: "poppinsRegular"; 
    margin-top: 150px;
}
.protein{
   background-image: url(./Protein.jpg);

    width:95%;
    background-size: cover;
    height: 190px;
    border-bottom: 30px;
    margin-left: 80px;
     border-radius: 10px;
}
.protein p{
    color: white;
    font-size: 30px;
    font-family: "poppinsRegular"; 
    margin-top: 150px;

    
}
.pastries{
    background-image: url(./Pastries.jpg);

    width: 90%;
    background-size: cover;
    height: 190px;
    border-bottom: 30px;
    margin-left: 100px;
     border-radius: 10px;
     margin-left: 70px;
}
.pastries p{
     color: white;
    font-size: 30px;
    font-family: "poppinsRegular"; 
    margin-top: 150px;

}
.special{
    display: grid;
    grid-column: auto auto auto;
}



.shawarma{
    background-image: url(./Shawarma.jpg);

    width: 90%;
    background-size: cover;
    height: 195px;
    border-bottom: 30px;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 40px;
}
.shawarma p{
     color: white;
    font-size: 30px;
    font-family: "poppinsRegular"; 
    margin-top: 150px;
}
.cake{
   background-image: url(./Cakes.jpg);

    width: 100%;
    background-size: cover;
    height: 190px;
    border-bottom: 30px;
    margin-left: 80px;
     border-radius: 10px;
     margin-top: 40px;
}
.cake p{
    color: white;
    font-size: 30px;
    font-family: "poppinsRegular"; 
    margin-top: 150px;

    
}
.bread{
    background-image: url(./Bread1.jpg);

    width: 80%;
    background-size: cover;
    height: 200px;
    border-bottom: 30px;
    margin-left: 100px;
     border-radius: 10px;
     margin-top: 40px;
}
.bread p{
     color: white;
    font-size: 30px;
    font-family: "poppinsRegular"; 
    margin-top: 150px;

}
.more p{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: fantasy;
    margin-top: 290px;
    background-color: red;

    width: 10%;
    margin-left: 600px;
    border-radius: 30px;
    height: 30px;
    padding-top: 10px;
    }
    .phone{
        background-color: red;
        width: 100%;
        height: 67.5vh;
        margin-top: 65px;
        display: grid;
        grid-template-columns: 200px auto auto 200px;
    }
    .mobile img{
       width: 80%;
        height: 480px;
    }
    .everything h2{
        color: #c3cbd9;
      
        font-size: 55px;
        font-family: 'Courier New', Courier, monospace;
        

    }
    .everything h4{
            color: #c3cbd9;
       
        font-size: 20px;
        font-family: sans-serif;
       
    }
    .everything image{
        background-image: url(./ggoggle\ icon.webp);
       
    }

    .okay{
        display: grid;
        grid-template-columns: auto auto ;
        margin-left: 30px;
    }
  
    .apple1 img{
       margin-top: 30px;
       width: 90%;
    }
    .apple2{
        margin-right: 150px;
        margin-top: 30px;
       

    }
    .apple2 img{
        
        width: 120%;
        margin-top: -55px;
        margin-right: 70px;
        
        
    }

    .about h1{
        background-color: white;
        color: red;
        text-align: center;
        font-size: 60px;
        margin-top: 150px;
    }
    .line2{    
    width: 5%;
    border-radius: 20px;
    border-bottom: 10px solid red;
   margin-left: 690px;
    margin-top: -40px;
    font-size: 300px;

    }
    .degeneral{
       display: grid;
        grid-template-columns: 200px auto auto;
        grid-gap: 20px;
        background-color: white;
      text-align: left;
      margin-top: 50px;

    }
    .writeup h1{
        color: black;
        font-size: 20px;
        /* font-family: sans-serif; */

    }
    .writeup h2{
        color: black;
        font-size: 20px;

    }
    .writeup h3{
        color: white;
        background-color: red;
        width: 20%;
        height: 3vh;
        font-family: cursive;
        text-align: center;
        font-size: 15px;
        border-radius: 10px;
        margin-top: 90px;
        font-family: sans-serif;
        padding-top: 15px;
        
    }
    .photo img{
        height: 60vh;
        width: 80%;
    }
    .all{
        background-color: #FFC0CB;
        display: grid;
        grid-template-columns: 250px auto auto 250px;
        grid-gap: 30px;
       padding-top: 70px;
    }


 .eat img{
        width: 100%;
        height: 50vh;
       
      
    }
    .fan img{
     
        width: 100%;
        height: 50vh;
        
        
    }

    .woman img{
      
        width: 100%;
        height: 50vh;
        
    }

    .blog img{
    
        width: 100%;
        height: 50vh;
        
    }
    .general0{
        background-color: rgb(255,219,219);
        text-align: center;
        height: 70vh;
        padding: 40px;
    }
    .plate img{
        width: 250px;
    
        text-align: center;
        height: 250px;
        border-radius: 50%;
    }
    .mail h1{
     font-size: 40px;
     font-family: sans-serif;
    }
    .mail p{
        font-family: sans-serif;
        
    }

    .gride{
        width: 50%;
        height: 55px;
        background-color: white;
        border-radius: 80px;
        display: grid;
        grid-template-columns: 600px auto;
        padding: 7px;
        
    }
    .email6 input{
        width: 100%;
        height: 50px;
        border-radius: 80px;
        padding: 5px;
        border: 1px solid white;

    }
    .gride button{
        width: 100%;
        height: 55px;
        border-radius: 80px;
        background-color: #f61417;
        border: 1px solid #f61417;
        color: white;
        

    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .red{
        background-color: #f61417;
        color: white; 
        padding: 50px;
        font-size: 20px;
        
    }

    .container{
        display: grid;
     grid-template-columns: auto auto auto;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        
    }
    .logo img{
   
        width: 50%;
        height: 150px;
        
    }

    .tell button{
        padding: 30px;
        border-radius: 50px;
        width: 90%;
        color: red;
        border: 5px solid white;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 400;

    }
    .button icons{
        color: red;
    }

  
      
    
    
    

  

    
   

 



 @media (max-width:768px){
    .all{
        background-color: pink;
        display: grid;
        grid-template-columns:auto;
    }

    .food{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
   
 }

  .line{
    width: 6%;
    border-radius: 20px;
    border-bottom: 10px solid red;
    margin-left: 100px;
    margin-top: 0px;
    font-size: 300px;
 }

    .weclome{
    display: grid;
    grid-template-columns: auto;
}

.box5 img{
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;

 }
 .wec b{
    color: red;
    font-size: 60px;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 
.weclome1{
    display: grid;
    grid-template-columns: auto auto;
}

 
 .wec h2{
    color: red;
    margin-top: 30px;
    font-family: poppinsRegular;
    font-size:20px;
    margin-left: 30px;
 }
 .wec b{
    color: red;
    font-size: 15px;
    margin-top: -100px;
    font-family: "poppinsBold";
    margin-left: 50px;

 }
 .how{
     color: red;
     font-size: 20px;
     font-family: poppinsBold;
     
 }
 .pick{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -0%;

 }
 .car{
    padding: 40px;
    background-color: red;
    color: black;
    border-radius: 20px;
    width: 40%;
    height: 50px;
    margin-top: -20px;
    margin-right: 100%;
 }
 .car p{
    color: white;
    font-size: 20px;
    font-family: poppinsRegular;
    margin-top: 10px;

 }
 .pickup{
   font-size: 40px;
   color: white;
   margin-left: 20px;
 }
 .bag{
     padding: 40px;
    background-color: red;
    color: black;
    border-radius: 20px;
    width: 30%;
    height: 50px;
    margin-top: -20px;
    margin-right: 100px;
 }
 .shopbag{
     font-size: 40px;
   color: white;
   margin-left: 20%;
 }
 .bag p{
       color: white;
    font-size: 20px;
    font-family: poppinsRegular;
    margin-top: 10px;
 }
 .box5 img{
    width: 150%;
    margin-left: -150px;
    margin-top: 40px;
    font-weight: 400px ;
    font-size: 100px;

 }
 .foodie h3{
    
    text-align: center;
    font-size: 30px;
    color: red;
    margin-left: 10px;
    margin-top: 70px;
    font-family: poppinsBold;
 }
  .line{
    width: 30%;
    border-radius: 20px;
    border-bottom: 10px solid red;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 300px;
 }
  
 .rice{
    background-image: url(./rice.jpg);

    width: 120%;
    background-size: cover;
    height: 200px;
    border-bottom: 30px;
    border-radius: 10px;
    margin-left: -70px;
    margin-top: -40px;
}
 .protein{
   background-image: url(./Protein.jpg);

    width:120%;
    background-size: cover;
    height: 200px;
    border-bottom: 30px;
    margin-left: -70px;
     border-radius: 10px;
     margin-top: 20px;
}
.pastries{
    background-image: url(./Pastries.jpg);

    width: 120%;
    /* background-size: cover; */
    height: 200px;
    border-bottom: 30px;
     border-radius: 10px;
     margin-left: -70px;
     margin-top: 20px;
}
.shawarma{
    background-image: url(./Shawarma.jpg);

    width: 120%;
    /* background-size: cover; */
    height: 195px;
    border-bottom: 30px;
    margin-left: -70px;
    border-radius: 10px;
    margin-top: 20px;
}

.cake{
   background-image: url(./Cakes.jpg);

    width: 120%;
    /* background-size: cover; */
    height: 200px;
    border-bottom: 30px;
    margin-left: -70px;
     border-radius: 10px;
     margin-top: 20px;
}
.bread{
    background-image: url(./Bread1.jpg);

    width: 120%;
    height: 200px;
    margin-left: -70px;
     border-radius: 10px;
     margin-top: 20px;
}
.more p{
    font-size: 20px;
    color: white;
    font-family: fantasy;
    margin-top: 1200px;
    border: 2px,3px solid rosybrown;
    background-color: red;
    height: 10vh;
    width: 50%;
    margin-left: 90px;
    text-align: center;
    }


      .phone{
        background-color: red;
        width: 100%;
        height: 160vh;
        margin-top:80px;
        display: grid;
        grid-template-columns:auto ;
        text-align: center;
        color: white;
        
    }
      .mobile img{
       width: 80%;
        height: 535px;
        margin-top: 40px;
    }
     .everything h2{
        color: white;
        font-size: 40px;
        margin-top: 40px;
     }
     .okay{
        display: grid;
        grid-template-columns: auto ;
        
    }
    .about h1{
        background-color: white;
        color: red;
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
    }

    .line2{    
    width: 15%;
    border-radius: 20px;
    border-bottom: 10px solid red;
    color: #f61417;
    margin-left:200px;
  
    margin-top: -30px;
    font-size: 20px;

    }
       .degeneral{
       display: grid;
        grid-template-columns:auto;
        grid-gap: 20px;
        background-color: white;
      text-align: left;
      margin-top: 180px;

    }
     .writeup h1{
        color: black;
        font-size: 25px;
        font-family: sans-serif;
        margin-top: -90px;
        margin-left: 30px;
        
        
    }
     .writeup h2{
        color: black;
        font-size: 25px;
        font-family: sans-serif;
        margin-top: 20px;
        margin-left: 30px;
    }
     .photo img{
        height: 70vh;
        width: 80%;
       margin-left: 50px;
    }
     .writeup h3{
        color: white;
        background-color: red;
        width: 50%;
        height: 8vh;
     
        margin-left: 80px;
        font-size: 15px;
        border-radius: 20px;
        margin-top: 90px;
        font-family: sans-serif;
    }
      .general0{
        background-color: rgb(255,219,219);
        text-align: center;
        height: 90vh;
        padding: 40px;
    }
    .plate img{
        width: 250px;
    
        text-align: center;
        height: 250px;
        border-radius: 50%;
    }
    .mail h1{
     font-size: 30px;
     font-family: sans-serif;
    }
    .mail p{
        font-family: sans-serif;
        font-size: 25px;
        
    }

    .gride{
        width: 100%;
        height: 50px;
        background-color: rgba(255, 0, 0, 0);
        border-radius: 150px;
        display: grid;
        grid-template-columns: auto;
        padding: 10px;

        
    }
    .email6 input{
        width: 100%;
        height: 50px;
        
        padding: 5px;
        border: 5px solid white;
        font-size: 20px;


    }
    .gride button{
        width: 50%;
        height: 65px;
        border-radius: 100px;
        background-color: #f61417;
        border: 5px solid #f61417;
        color: white;
        margin-top: 30px;
        

    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);

        
    }
    .red{
        background-color: #f61417;
        color: white; 
        padding: 50px;
        font-size: 20px;
        
        
    }

      .red{
        background-color: #f61417;
        color: white; 
        padding: 50px;
        font-size: 20px;
        
    }

    .container{
        display: grid;
     grid-template-columns: auto;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
        
    }
    .logo img{
   
        width: 50%;
        height: 150px;
        
    }

    .tell button{
        padding: 30px;
        border-radius: 50px;
        width: 90%;
        color: red;
        border: 5px solid white;
        font-size: 15px;
        font-family: sans-serif;
        font-weight: 400;

    }
    .button icons{
        color: blue;
        width: 79%;
        height: 50px;
    }

   
 }

